<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New...</title>
</head>
<body>
    <form method="POST" action="/new">    
        <label for="user">Name:</label>
        <input type="text" id="user" name="user">
        <p></p>
        <label for="text">Message:</label>
        <textarea id="text" name="text"></textarea>  
        <p></p>
        <button type="submit">Submit Message</button>
        <button><a href="/">Back to Board</a></button>
    </form>
</body>
</html>